<div class="login-parent-division col-xl-12 no-padding">
    <div class="row m-0">
    <div class="login-left-section col-xl-3 col-lg-4 col-md-12 col-12 p-0">
      <div class="lls-tp_img"> 
      <img src="../../assets/images/logo.png">
        </div>
        <div class="lls-caption"> 
          <h2><strong>Welcome to</strong> Gmmco’s Customer Portal</h2>
          <p>Products that power your Business</p>
          <div class="arrow_img_section">
            <img src="../../assets/images/Poly_1.png">
            <img src="../../assets/images/Poly_2.png">
            <img src="../../assets/images/Poly_3.png">
          </div>    
            </div>
            <div class="lld_img-section">
              <img src="../../assets/images/login_left_down.png">
              </div>
    </div>
    <div class="login-right-section col-xl-9 col-lg-8 col-md-12 col-12 p-0">
        <div class="login-base-section reset-base-sec">
            <div class="form-section">
            <h4><img src="../../assets/images/left-arrow-vfy.png"/> Forgot password</h4>
            <span>Please create your New Password</span> 
              <form>
                <div class="form-control">
                  
                  <input type="text" placeholder="90012345658" value=""/>
                  <span class="icon-span"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M19.9981 16.1154C19.9702 15.3418 19.6479 14.6198 19.0907 14.0825C17.9997 13.0304 17.0855 12.4231 16.2139 12.1712C15.0129 11.8241 13.9004 12.1397 12.9076 13.1093C12.9061 13.1108 12.9046 13.1123 12.9031 13.1137L11.8469 14.1621C11.1868 13.79 9.90318 12.973 8.51638 11.5862L8.41357 11.4834C7.02654 10.0964 6.20955 8.81261 5.83779 8.15324L6.88623 7.09695C6.88771 7.09546 6.88919 7.09398 6.89068 7.09245C7.86025 6.09972 8.17587 4.9873 7.8288 3.78617C7.57689 2.91456 6.96958 2.00042 5.91747 0.909369C5.38021 0.35222 4.6583 0.0299547 3.88466 0.00206406C3.11056 -0.0258656 2.36775 0.243588 1.79165 0.760697L1.76923 0.780853C1.75884 0.790189 1.74869 0.799838 1.73876 0.80972C0.591928 1.95656 -0.00924414 3.56206 0.000169925 5.45273C0.0162246 8.66453 1.78142 12.3375 4.72201 15.278C5.2765 15.8325 5.90669 16.3813 6.59505 16.9091C6.93744 17.1716 7.42783 17.1069 7.69037 16.7645C7.95294 16.4221 7.88818 15.9317 7.54576 15.6691C6.91158 15.1828 6.33326 14.6796 5.82685 14.1733C3.17076 11.5172 1.57665 8.25429 1.56263 5.44495C1.5554 3.98886 1.99341 2.77351 2.82947 1.92874L2.83544 1.92335C3.4033 1.41363 4.26302 1.44464 4.79279 1.99398C6.8154 4.09156 6.66896 5.08183 5.77521 5.99831L4.32701 7.45738C4.0999 7.6862 4.03665 8.03105 4.16779 8.32558C4.20455 8.40816 5.09396 10.3735 7.309 12.5885L7.41185 12.6912C9.62662 14.906 11.592 15.7954 11.6746 15.8322C11.969 15.9634 12.314 15.9001 12.5427 15.673L14.0019 14.2248C14.9185 13.331 15.9087 13.1846 18.0062 15.2072C18.5555 15.7369 18.5865 16.5967 18.0769 17.1644L18.0714 17.1706C17.2335 17.9998 16.0311 18.4375 14.5909 18.4375C14.579 18.4375 14.5671 18.4375 14.5552 18.4374C13.404 18.4317 12.0709 18.1161 10.7002 17.5248C10.3041 17.3539 9.84427 17.5366 9.67341 17.9328C9.50251 18.329 9.68513 18.7887 10.0813 18.9596C11.6658 19.643 13.1684 19.993 14.5474 19.9999C14.5621 20 14.5766 20 14.5913 20C16.4629 20 18.0525 19.3993 19.1904 18.2613C19.2003 18.2514 19.2099 18.2413 19.2193 18.2309L19.2395 18.2083C19.7566 17.6323 20.026 16.889 19.9981 16.1154Z" fill="#FCBA13"/>
                    </svg>
                    </span>
                </div>
                <div class="form-control">
                  
                  <input type="password" placeholder="Confirm Password" value=""/>
                  <span class="icon-span"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <g clip-path="url(#clip0)">
                    <path d="M17.1875 22H4.8125C3.67583 22 2.75 21.0751 2.75 19.9375V10.3125C2.75 9.17492 3.67583 8.25 4.8125 8.25H17.1875C18.3242 8.25 19.25 9.17492 19.25 10.3125V19.9375C19.25 21.0751 18.3242 22 17.1875 22ZM4.8125 9.625C4.43392 9.625 4.125 9.933 4.125 10.3125V19.9375C4.125 20.317 4.43392 20.625 4.8125 20.625H17.1875C17.5661 20.625 17.875 20.317 17.875 19.9375V10.3125C17.875 9.933 17.5661 9.625 17.1875 9.625H4.8125Z" fill="#A5A5A5"/>
                    <path d="M15.8125 9.625C15.433 9.625 15.125 9.317 15.125 8.9375V5.5C15.125 3.22575 13.2743 1.375 11 1.375C8.72575 1.375 6.875 3.22575 6.875 5.5V8.9375C6.875 9.317 6.567 9.625 6.1875 9.625C5.808 9.625 5.5 9.317 5.5 8.9375V5.5C5.5 2.46675 7.96675 0 11 0C14.0332 0 16.5 2.46675 16.5 5.5V8.9375C16.5 9.317 16.192 9.625 15.8125 9.625Z" fill="#A5A5A5"/>
                    <path d="M11.0003 15.5833C9.98924 15.5833 9.16699 14.761 9.16699 13.75C9.16699 12.7389 9.98924 11.9166 11.0003 11.9166C12.0114 11.9166 12.8337 12.7389 12.8337 13.75C12.8337 14.761 12.0114 15.5833 11.0003 15.5833ZM11.0003 13.2916C10.7482 13.2916 10.542 13.497 10.542 13.75C10.542 14.003 10.7482 14.2083 11.0003 14.2083C11.2524 14.2083 11.4587 14.003 11.4587 13.75C11.4587 13.497 11.2524 13.2916 11.0003 13.2916Z" fill="#A5A5A5"/>
                    <path d="M11 18.3333C10.6205 18.3333 10.3125 18.0253 10.3125 17.6458V15.125C10.3125 14.7455 10.6205 14.4375 11 14.4375C11.3795 14.4375 11.6875 14.7455 11.6875 15.125V17.6458C11.6875 18.0253 11.3795 18.3333 11 18.3333Z" fill="#A5A5A5"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="22" height="22" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span>
                </div>
                <div class="form-control">
                  
                  <input type="text" placeholder="Confirm Password" value=""/>
                  <span class="icon-span"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <g clip-path="url(#clip0)">
                    <path d="M17.1875 22H4.8125C3.67583 22 2.75 21.0751 2.75 19.9375V10.3125C2.75 9.17492 3.67583 8.25 4.8125 8.25H17.1875C18.3242 8.25 19.25 9.17492 19.25 10.3125V19.9375C19.25 21.0751 18.3242 22 17.1875 22ZM4.8125 9.625C4.43392 9.625 4.125 9.933 4.125 10.3125V19.9375C4.125 20.317 4.43392 20.625 4.8125 20.625H17.1875C17.5661 20.625 17.875 20.317 17.875 19.9375V10.3125C17.875 9.933 17.5661 9.625 17.1875 9.625H4.8125Z" fill="#A5A5A5"/>
                    <path d="M15.8125 9.625C15.433 9.625 15.125 9.317 15.125 8.9375V5.5C15.125 3.22575 13.2743 1.375 11 1.375C8.72575 1.375 6.875 3.22575 6.875 5.5V8.9375C6.875 9.317 6.567 9.625 6.1875 9.625C5.808 9.625 5.5 9.317 5.5 8.9375V5.5C5.5 2.46675 7.96675 0 11 0C14.0332 0 16.5 2.46675 16.5 5.5V8.9375C16.5 9.317 16.192 9.625 15.8125 9.625Z" fill="#A5A5A5"/>
                    <path d="M11.0003 15.5833C9.98924 15.5833 9.16699 14.761 9.16699 13.75C9.16699 12.7389 9.98924 11.9166 11.0003 11.9166C12.0114 11.9166 12.8337 12.7389 12.8337 13.75C12.8337 14.761 12.0114 15.5833 11.0003 15.5833ZM11.0003 13.2916C10.7482 13.2916 10.542 13.497 10.542 13.75C10.542 14.003 10.7482 14.2083 11.0003 14.2083C11.2524 14.2083 11.4587 14.003 11.4587 13.75C11.4587 13.497 11.2524 13.2916 11.0003 13.2916Z" fill="#A5A5A5"/>
                    <path d="M11 18.3333C10.6205 18.3333 10.3125 18.0253 10.3125 17.6458V15.125C10.3125 14.7455 10.6205 14.4375 11 14.4375C11.3795 14.4375 11.6875 14.7455 11.6875 15.125V17.6458C11.6875 18.0253 11.3795 18.3333 11 18.3333Z" fill="#A5A5A5"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="22" height="22" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    </span>
                </div>
                                
                <div class="form-control login-btn">
                  <button class="btn-login-btn btn">Request OTP</button>
                  </div>
                  
            </form>
            </div>  
        </div>
    </div>
  </div>
    </div>
