<header>
    <div class="header-wrapper">
<div class="header-wrapper-part">
    <nav class="navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/hmg_pg_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order Parts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Fleet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assistant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Quote</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="cart-icn"><img src="../../../assets/images/cart.png"></li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg dropdown-toggle dropdown-bn" type="button"  data-toggle="dropdown">
                            <img src="../../../assets/images/cnct.png"> My Account
                        </button>
                        
                        <div class="dropdown-menu">
                          <a class="acc-caption">
                              <p><img src="../../../assets/images/account-person.png">
                                <span><b>Bharanidharan</b><b>Customer</b></span>
                                <span><img src="../../../assets/images/right-arw.png"></span>
                                </p>
                            </a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/order.png"></caption> My Orders</a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/outstanding.png"></caption> My Outstandings</a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/lang.png"></caption> Language Preference</a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/sav-address.png"></caption> Saved Address</a>
                          <a class="dropdown-item logout-link" href="#"><span class="lgt"><caption><img src="../../../assets/images/logout.png"></caption>  Logout <img class="lgt-arrw" src="../../../assets/images/lg-rgt-arrow.png"></span></a>                      </div>
                      </div>
                        
                </li>
                <li>
                    <div class="dropdown language-btn">
                        <button class="btn btn-primary btn-lg dropdown-toggle dropdown-bn" type="button"  data-toggle="dropdown">
                            <img src="../../../assets/images/flag-for-india.png"> English
                        </button>
                        <div class="dropdown-menu">
                            <a class="acc-caption">
                                <p>
                                  <span><b>Choose Language</b></span>
                                  </p>
                              </a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/eng.png"></caption> English</a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/tam.png"></caption> தமிழ்</a>
                          <a class="dropdown-item" href="#"><caption><img src="../../../assets/images/hindi.png"></caption> हिन्दी</a>
                         </div>
                      </div>
                        
                </li>
            </ul>
        </div>
    </nav>
    <div class="prim-header d-flex">
        <div class="header-search">
            <div class="search-bar-divison">
                <input class="sbd-sec" type="text" placeholder="" value="Search Parts Here..."/> 
            </div>
        </div>
        <div class="header-address ml-auto">
            <div class="header-address-select">
                <p class="address-sec-first">Deliver to</p>
                <select><option>Vitesco Nagar</option><option>Vitesco Nagar</option></select>
            </div>
            <div class="header-address-ph">
                <p class="address-sec-first">Default Equipment</p>
                <span>424B2 - K7C01126  <img src="../../../assets/images/info.png"></span>
            </div>
        </div>
   </div>
</div>
</div>
</header>
