@media only screen and (max-width:1700px) {
    .form-section {
            padding: 69px 130px!important;
    }
    .form-section input{width: 100%!important;}
    div.form-section {
        max-width: 70%;
    }
/* reset */
div.login-base-section.reset-base-sec .form-section {
    padding-top: 80px!important;
    padding-bottom: 80px!important;
}

/*End reset */
/* Register */
div.login-base-section.register-base .form-section {
    padding: 40px 52px !important;
}
/*End Register */
}

@media only screen and (max-width:991px) {
.lld_img-section {
    width: 100%;
}
div.form-section {
    max-width: 80%;
    margin: 70px auto;
}
div.lls-tp_img {
    padding-top: 32px;
    padding-bottom: 50px;
}
.form-control.checkbox-division {
    flex-direction: column;
}
div.form-control.checkbox-division p:first-child{
    margin-bottom: 15px!important;
    margin-right: 0!important;
}
.final-reg-btn a {
    margin-left: 0px;
    margin-top: 10px;
}
div.form-section h4 {
    font-size: 20px;
}
div.form-section.verify-form-sec {
    margin: 55px auto;
}
}
@media only screen and (max-width:767px) {
div.form-section {
    padding: 35px 30px!important;
}
div.form-control.verify-section input {
    width: 35px;
    max-width: 35px;
    min-width: 35px;
    height: 35px;
}
div.form-section h4 img {
    margin-right: 10px;
}
div.form-section span {
    flex-direction: column;
}
button.btn-login-btn {
    height: 50px!important;
}
div.form-control.otp-dummy-content p {
    font-size: 15px;
}
}