<div class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-lg">
              <div class="foot-cont">
                <a><img src="../../../assets/images/logo.png" alt=""/></a>
              <h4>Who We Are</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae soluta, dignissimos aut, assumenda dolore totam natus qui cum vel omnis voluptates.</p>
              </div>
           </div>
             <div class="col-lg">
               <div class="foot-cont foot-cont-cen">
 
                   <ul>
                     <li>  <h4>Who We Are</h4></li>
                     <li><a>Order Parts</a></li>
                     <li><a>My Fleets</a></li>
                     <li><a>My Plan</a></li>
                     <li><a>Assistant</a></li>
                     <li><a>My Quotes</a></li>
                   </ul>
               </div>
             </div>
             <div class="col-lg">
                   <div class="foot-cont ">
                     <h4>Happy to Help you</h4>
                     <ul>
                       <li><a href="mailto:contact@samplemail.com"><i class="fa fa-envelope" aria-hidden="true"></i> contact@samplemail.com</a></li>
                       <li><a href="tel:18001800043"><i class="fa fa-phone" aria-hidden="true"></i> Toll Free No: 18001800043</a></li>
                     </ul>
                   </div>
                   <div class="foot-cont">
                     <h4>Follow Us On</h4>
                        <ul class="list-inline mt-1">
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin social-icon" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-envelope social-icon" aria-hidden="true"></i></a></li>
     </ul>
                     </div>
           </div>
        </div>
    </div>
 
 </div>
    <p class="copy-rgt">© Copyrights GMMCO CAT 2021. All rights reserved</p>
 