<!-- <app-header></app-header>
<div class="content_section">
   <div class="container">
       <div class="row">
            <div class="homepage-body">
                <h2 class="homepage-caption mb-0">My Fleet (4)</h2>
                <div class="hp-conatiner col-xl-12 p-0">
                   <div class="row m-0">
                    <div class="hp-conatiner col-xl-9 col-12 p-0">
                        <div id="style-3" class="hp-content-base w-100">
                        <div class="row m-0">
                        <div class="hp-conatiner-card col-xl-6 col-12">
                        <div class="hp-conatiner-inner">
                            <div class="hci-common">
                            <div class="hp-conatiner-inner-img">
                                <img src="../../../assets/images/bulldowser-1.png">
                            </div>
                            <div class="hp-conatiner-inner-contents">
                                <p><span>424B2</span> BACKHOE LOADER</p>
                                <p><label>Serial:</label> K7C01126</p>
                                <p><label>SMU Hours:</label> 280</p>
                                <p><label>AMC Validity: Dec 21</label></p>
                            </div>
                        </div>
                        <div class="hci-common-btn">
                            <button class="btn req-ser">Request Service</button>
                            <button class="btn ord-part">Order Parts</button>
                            <button class="btn my-plan">My Plan</button>
                        </div>
                        </div>
                        </div>
                        <div class="hp-conatiner-card col-xl-6 col-12">
                            <div class="hp-conatiner-inner">
                                <div class="hci-common">
                                <div class="hp-conatiner-inner-img">
                                    <img src="../../../assets/images/bulldowser-2.png">
                                </div>
                                <div class="hp-conatiner-inner-contents">
                                    <p><span>320D3</span>  Excavator</p>
                                    <p><label>Serial:</label> AT5984589566</p>
                                    <p><label>SMU Hours:</label> 150 </p>
                                    <p><label>AMC Validity: Dec 21</label></p>
                                </div>
                            </div>
                            <div class="hci-common-btn">
                                <button class="btn req-ser">Request Service</button>
                                <button class="btn ord-part">Order Parts</button>
                                <button class="btn my-plan">My Plan</button>
                            </div>
                            </div>
                            </div>
                            <div class="hp-conatiner-card col-xl-6 col-12">
                                <div class="hp-conatiner-inner">
                                    <div class="hci-common">
                                    <div class="hp-conatiner-inner-img">
                                        <img src="../../../assets/images/bulldowser-3.png">
                                    </div>
                                    <div class="hp-conatiner-inner-contents">
                                        <p><span>D6R2</span>  TRACK-Type TRACTOR</p>
                                        <p><label>Serial:</label> AT5984589566</p>
                                        <p><label>SMU Hours:</label> 210 </p>
                                        <p><label>AMC Validity: Dec 21</label></p>
                                    </div>
                                </div>
                                <div class="hci-common-btn">
                                    <button class="btn req-ser">Request Service</button>
                                    <button class="btn ord-part">Order Parts</button>
                                    <button class="btn my-plan">My Plan</button>
                                </div>
                                </div>
                                </div>
                             <div class="hp-conatiner-card col-xl-6 col-12">
                                    <div class="hp-conatiner-inner">
                                        <div class="hci-common">
                                        <div class="hp-conatiner-inner-img">
                                            <img src="../../../assets/images/bulldowser-3.png">
                                        </div>
                                        <div class="hp-conatiner-inner-contents">
                                            <p><span>D6R2</span>  TRACK-Type TRACTOR</p>
                                            <p><label>Serial:</label> AT5984589566</p>
                                            <p><label>SMU Hours:</label> 210 </p>
                                            <p><label>AMC Validity: Dec 21</label></p>
                                        </div>
                                    </div>
                                    <div class="hci-common-btn">
                                        <button class="btn req-ser">Request Service</button>
                                        <button class="btn ord-part">Order Parts</button>
                                        <button class="btn my-plan">My Plan</button>
                                    </div>
                                    </div>
                                    </div>     
                                    <div class="hp-conatiner-card col-xl-6 col-12">
                                <div class="hp-conatiner-inner">
                                    <div class="hci-common">
                                    <div class="hp-conatiner-inner-img">
                                        <img src="../../../assets/images/bulldowser-4.png">
                                    </div>
                                    <div class="hp-conatiner-inner-contents">
                                        <p><span>424B2 D6R2</span>     Track-Type Tractor</p>
                                        <p><label>Serial:</label> K7C01126</p>
                                        <p><label>SMU Hours:</label> 280 </p>
                                        <p><label>AMC Validity: Dec 21</label></p>
                                    </div>
                                </div>
                                <div class="hci-common-btn">
                                    <button class="btn req-ser">Request Service</button>
                                    <button class="btn ord-part">Order Parts</button>
                                    <button class="btn my-plan">My Plan</button>
                                </div>
                                </div>
                                </div>
                                <div class="hp-conatiner-card col-xl-6 col-12">
                                    <div class="hp-conatiner-inner">
                                        <div class="hci-common">
                                        <div class="hp-conatiner-inner-img">
                                            <img src="../../../assets/images/bulldowser-3.png">
                                        </div>
                                        <div class="hp-conatiner-inner-contents">
                                            <p><span>D6R2</span>  TRACK-Type TRACTOR</p>
                                            <p><label>Serial:</label> AT5984589566</p>
                                            <p><label>SMU Hours:</label> 210 </p>
                                            <p><label>AMC Validity: Dec 21</label></p>
                                        </div>
                                    </div>
                                    <div class="hci-common-btn">
                                        <button class="btn req-ser">Request Service</button>
                                        <button class="btn ord-part">Order Parts</button>
                                        <button class="btn my-plan">My Plan</button>
                                    </div>
                                    </div>
                                    </div>     
                                    <div class="hp-conatiner-card col-xl-6 col-12">
                                <div class="hp-conatiner-inner">
                                    <div class="hci-common">
                                    <div class="hp-conatiner-inner-img">
                                        <img src="../../../assets/images/bulldowser-4.png">
                                    </div>
                                    <div class="hp-conatiner-inner-contents">
                                        <p><span>424B2 D6R2</span>     Track-Type Tractor</p>
                                        <p><label>Serial:</label> K7C01126</p>
                                        <p><label>SMU Hours:</label> 280 </p>
                                        <p><label>AMC Validity: Dec 21</label></p>
                                    </div>
                                </div>
                                <div class="hci-common-btn">
                                    <button class="btn req-ser">Request Service</button>
                                    <button class="btn ord-part">Order Parts</button>
                                    <button class="btn my-plan">My Plan</button>
                                </div>
                                </div>
                                </div>
                            </div>
                    </div>

                  Tabs -->
        <!-- <div class="hm-pg-tab">
            <span class="tab-caption">My Plan</span>
         <ul ngbNav #nav="ngbNav" class="nav-tabs homepage-tab">
            <li ngbNavItem>
              <a ngbNavLink>UPCOMING PM</a>
              <ng-template ngbNavContent>
                <section class="tabs-container">
                    <span class="change-btn prev" (click)="scrollTab(-1)" [class.hide]="atStart">
                &lsaquo;</span>
                
                    <ul class="tabs" [ngStyle]="{'transform': abc }">
                
                        <ng-container *ngFor="let tab of tabs; let i=index">
                            <li class="tab" [class.active]="selectedIndex===i" (click)="selectTab(i)">{{tab}}</li>
                        </ng-container>
                    </ul>
                  <span class="change-btn next" [class.hide]="atEnd" (click)="scrollTab(1)">&rsaquo;</span>
                </section>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>HEALTH ALERTS</a>
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
          </ul>
          </div>
          <div [ngbNavOutlet]="nav"></div> -->
         
<!-- ./Tabs -->

                    <!-- </div>
                    <div class="hp-conatiner col-xl-3 col-12 p-0">
                        2
                    </div>
                </div>
                </div>
            </div>
       </div>
   </div>
</div> -->
  
<!-- <app-footer></app-footer>  -->
