
*{ margin:0px;	padding:0px;}
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-style:normal;}
a {text-decoration:none!important; outline:none;}
img { border:0px; outline:none;  }
ul{ list-style:none; margin:0px;}
li{list-style-type:none;}
html,body{ height:100%;}
.right-padding{padding-right:0!important;}
.left-padding{padding-left:0!important;}
.clr{clear:both;}
.fa, .far, .fas {font-family: fontawesome!important;}
.fa:hover{cursor:pointer;}
.no-padding{padding-left:0px !important;padding-right:0px !important;}

body{font-family: univers !important;background: #000;}


  @font-face {
    font-family: 'arial-light';
    src: url('./assets/fonts/arialmtstd-light-webfont.woff') format('woff'), 
         url('./assets/fonts/arialmtstd-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');

  @font-face {
    font-family: 'univers';
    src: url('./assets/fonts/univers-57-condensed-font-webfont.woff') format('woff'),  
         url('./assets/fonts/univers-57-condensed-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  // Login
.login-left-section {
    background: #FCBA13;
    position: relative;
}
.lls-tp_img {
    padding-top: 80px;
    padding-bottom: 133px;
    text-align: center;
}
.lls-caption h2 strong {
    font-weight: normal;
    display: block;
    font-size: 20px;
}
.lls-caption h2 {
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
    color: #000006;
}

.lls-caption p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000006;
    margin: 30px 0 54px 0;
}
.arrow_img_section {
    width: 100%;
    text-align: center;
}
.arrow_img_section img {
    display: block;
    margin: 0 auto 20px auto;
}
.lld_img-section img {
    width: 100%;
}
.lld_img-section  {
    margin-top: 0;
    position: absolute;
    bottom: 0;
}
.login-left-section::after {
    content: '';
    position: absolute;

    background: #00000052;
    right: 0;
    height: 96%;
    width: 15px;
    top: 18px;
    margin-top: auto;
    margin-bottom: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.login-parent-division {
    background: #fcba13;
}
.login-right-section {
    background: #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form-section input{
    background: #252626;
    border: 1px solid #252626;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
    padding: 17px 17px 17px 64px;
    color: #FCBA13;
    width: 380px;
    max-width: 100%;
}
.form-section input::placeholder{
color: #A5A5A5;
}
.form-control {
    background-color: transparent!important;
    border: 0!important;
    position: relative;
    padding: 0!important;
    margin-top: 30px;
}
.form-section {
    padding: 69px 273px;
    background: #151616;
    border-radius: 20px;
    margin: 130px auto;
    max-width: 65%;
}
.form-control span.icon-span {
    position: absolute;
    top: 16px;
    left: 26px;
    width: 30px;
}
input:focus-visible {
    outline: unset!important;
}
.form-section h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FCBA13;
    margin: 0 0 14px 0;
}
.form-section span {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.form-section span svg path {
fill:#a5a5a5!important;
}


.checkbox-division [type="radio"]:checked,
.checkbox-division [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox-division [type="radio"]:checked + label,
.checkbox-division [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;

color: #FCBA13;
}
.checkbox-division [type="radio"]:checked + label:before,
.checkbox-division [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.checkbox-division [type="radio"]:checked + label:after,
.checkbox-division [type="radio"]:not(:checked) + label:after {
    content: '';
  display: block;
  position: absolute;
  top: 3px;
    left: 6px;
    width: 6px;
    height: 10px;
  border: solid #000103;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-division [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.checkbox-division [type="radio"]:checked + label:after {
    opacity: 1;  
}
.checkbox-division [type="radio"]:checked + label:before {
 background: #FCBA13;
 border: 1px solid #FCBA13;
}
.form-control.checkbox-division p:first-child {
    margin-right: 27px;
    margin-bottom: 0!important;
}
  .form-control.checkbox-division label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FCBA13;
    margin-bottom: 0;
}
.form-control.checkbox-division {
    display: flex;
}
.form-control.checkbox-division .form-group:first-child {
    margin-right: 27px;
}
.form-control.form-control-password {
    margin-top: 10px;
}
.form-control.anchor-section {
    text-align: right;
}
.form-control.anchor-section a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #B8994A;
}
button.btn-login-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000103;
    width: 380px;
    max-width: 100%;
    background: #FCBA13;
    border-radius: 5px;
    height: 59px;
    border: 0;
}
.final-reg-btn span b {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.final-reg-btn{text-align: center;}
.final-reg-btn a{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #FCBA13;
margin-left: 20px;
}

// .form-control.final-reg-btn {
//     height: 57px;
// }
.form-control input:focus, form-control input:focus-within {
    border: 1px solid #FCBA13!important;
}
.form-control input:focus ~ span svg path, .form-control input:focus-within ~ span svg path {
    fill: #FCBA13 !important;
}
input:-internal-autofill-selected {
    background-color: #252626 !important;
    color: #FCBA13!important;
}
.form-control.login-btn {
    text-align: center;
}
// End Login

// Login-Verification
.form-section h4 img {
    margin-right: 20px;
}
.form-control.verify-section {
    display: flex;
    justify-content: space-between;
}
.form-control.verify-section input {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    padding: 10px 5px;
    text-align: center;
}
.form-control.final-reg-btn.otp-link {
    text-align: center;
}
.form-section span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-control.verify-section {
    margin-top: 50px;
}
.form-control.otp-dummy-content p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}
.form-section.verify-form-sec {
    margin: 152px auto;
}
.modal {
    position: absolute!important;
}
.login-right-section{position: relative;}
.login-popup-pnt {
    text-align: center;
}
.login-popup-pnt {
    padding: 36px 0px 28px 0px;
}
.login-popup-pnt p {
    margin: 29px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000103;
}
.login-popup-pnt p strong {
    color: #FCBA13;
    font-weight: 400;
}
.btn.btn-danger.cnt-log-pop {
    background: #FCBA13;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #31322D;
}
.modal-dialog {
    max-width: 600px!important;
    
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: unset!important;
}
.btn-check:focus+.btn, .btn:focus {
    outline: unset!important;
}
// End Login-Verification

// Reset
.login-base-section.reset-base-sec .form-section {
    padding-top: 200px!important;
    padding-bottom: 120px!important;
}
// End Reset

// Register
.login-base-section.register-base .form-section {
    padding: 56px 100px!important;
}
.form-section form {
    display: flex;
    flex-direction: column;
}
.dual-form-options {
    float: left;
    width: 100%;
}
.register-base .dual-form-options .form-control {
    float: left;
    width: 50%;
}
.register-base .form-control:first-child {
    padding-right: 20px!important;
}
.register-base .form-control:last-child {
    padding-left: 20px!important;
}
.register-base .form-control:last-child  span.icon-span {
    left: 46px;
}
.form-control.checkbox-division p label b {
    color: #fff;
    font-weight: 400;
}
.register-base .form-control.final-reg-btn span {
    justify-content: center;
}
// Register

//home page Starts
.container{
    max-width: 1400px;
    width:100%;
    margin:0 auto;
 }
 
 //home page Ends

//  Footer
.footer_section{
    background: #181B21;
    padding: 80px 0px 40px;
    color:#BEBEBE;
    .foot-cont.foot-cont-cen {
     display: flex !important;
     justify-content: center !important;
 }
 .foot-cont{
     max-width: 380px;
     width: 100%;
     float: right;
     margin-bottom: 40px;
     .fa {
     margin-right: 10px;
     width: 20px;
 }
 
 
 img {
     margin-bottom: 48px;
 }
 
 h4 {
     font-size: 20px;
     text-transform: uppercase;
     color: #ffffff;
     line-height: 23px;
     margin-bottom: 19px;
 }
 
 p {
     color: #BEBEBE;
     font-size: 16px;
     line-height: 30px;
 }
 ul {
     margin: 0px;
     padding: 0px;
 
  li, li a {
     color: #BEBEBE;
     font-size: 18px;
     line-height: 30px;
     margin-bottom: 12px;
 }
 }
 
 .fa, .fas {
     font-family: 'FontAwesome';
 }
 
 .social-icon {
   color: #fff;
   background: #181B21;
   font-size:1em;
   border-radius: 50%;
   line-height: 2.2em;
   width: 2.1em;
   height: 2.1em;
   text-align: center;
   display: inline-block;
   border: 1px dashed #fff;
 }
 
 .social-icon:hover {
     color: #000 !important;
     background: #ffcd10 !important;
     border: 1px dashed #ffcd10 !important;
 }
 
 
 li:hover {
     transform: translateY(-4px);
     transition:0.3s;
 }
 
 
 
 }
 
 }
 
 .copy-rgt{
   padding: 20px;
   background: #000103;
   color: #eeeeee;
   font-size: 15px;
   line-height: 19px;
   text-align: center;;
 }
// End Footer 

// Header
header{
    nav{
      background: transparent;
    }
  }
  
// End Header

// Home 
.header-wrapper-part {
    width: 1400px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 210px;
}
.header-wrapper{background: #ffcd11;}
ul.navbar-nav li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1E1F21!important;
    padding: 0!important;
}
ul.navbar-nav li {margin-right: 30px;}
ul.navbar-nav li:last-child {margin-right: 0px;}
.navbar-nav.mr-auto {
    margin-left: 80px;
}
.dropdown-menu p {
    padding: 15px 23px 15px 18px;
    display: flex;
    align-items: center;
    align-self: center;
    background: #ECEBE9;
}
.dropdown-menu p span b {
    display: block;
}
.dropdown-menu p span {
    margin-left: 20px;
}
.dropdown-menu p span b:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000103;
    margin-bottom: 10px;
}
.dropdown-menu p span b:last-child {
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #191B1D;
}
.dropdown .dropdown-menu {
    padding: 0!important;
    border-radius: 5px;
}
.dropdown-menu a caption {
    float: left;
    padding: 0;
    width: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

ul.navbar-nav .dropdown-menu a {
    padding-left: 25px!important;
    padding-bottom: 25px!important;
    text-transform: capitalize;
}
ul.navbar-nav .dropdown-menu a.acc-caption {
    padding-left: 0px!important;
    padding-bottom: 15px!important;
    display: block;
}
ul.navbar-nav .dropdown-menu a.dropdown-item.logout-link {
    padding-right: 23px!important;
}
span.lgt {
    display: flex;
    align-items: center;
    border-top: 1px solid #CFCFCF;
    padding-top: 20px;
}
img.lgt-arrw {
    margin-left: auto;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: unset;
}
.navbar-nav.nav-flex-icons {
    margin-left: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
li.cart-icn {
    position: relative;
}
.cart-icn:after {
    position: absolute;
    content: '3';
    background: url('./assets/images/cart-bg.png');
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    top: -9px;
}
.btn.btn-primary.btn-lg.dropdown-toggle.dropdown-bn {
    background: #FFCD11;
    border: 1px solid #282A2D;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 42px;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #18181A;
}
.btn-lg.dropdown-toggle.dropdown-bn img {
    margin-right: 13px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: unset!important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow:  unset!important;
}
.language-btn .btn.btn-primary.btn-lg.dropdown-toggle.dropdown-bn {
    width: 122px;
    background: #282A2D;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.language-btn .dropdown-menu p span b {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000103;
    margin-bottom: 0!important;
}
.dropdown.language-btn .dropdown-menu {
    min-width: 250px;
}
.language-btn .dropdown-menu a caption {
    padding-top: 1px;
}
input.sbd-sec {
    background: url('./assets/images/search-icon.png') #282A2D;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 5px;
    width: 450px;
    height: 50px;
    border: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 20px;
}
.header-address-select p {
    margin-bottom: 2px;
    padding-left: 30px;
    background: url('./assets/images/location-icon.png') no-repeat;
}
.header-address-select select {
    background: transparent;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000103;
    padding-left: 30px;
}
.header-address-ph p {
    margin-bottom: 2px;
    padding-left: 30px;
    background: url('./assets/images/bulldozer.png') no-repeat;
}
.header-address-ph span {
    font-style: normal;
    padding-left: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000103;
}
.header-address-ph span img {
    margin-left: 7px;
}
.prim-header {
    margin: 0.5rem 1rem;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #B6920B;
}
.header-address {
    display: flex;
}
.header-address-ph {
    margin-left: 80px;
}



//End Home Header

// homepage
.homepage-body {
    margin-top: -180px;
}
.hci-common {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #404246;

}
.hp-conatiner-inner-img {
    margin-right: 20px;
}
.hp-conatiner-inner-contents p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.hp-conatiner-inner-contents p:last-child {
    margin-bottom: 0;
}
.hp-conatiner-inner-contents p span{
    color: #FCBA13;
    font-weight: bold;
}
.hp-conatiner-inner {
    background: #191B1D;
    border-radius: 5px;
    padding: 20px 40px 20px 20px;
}
.hp-conatiner-inner-contents p label {
    font-family: 'arial-light';
    font-weight: lighter;
    margin-bottom: 0;
}
button.btn.req-ser, .ord-part, .my-plan {
    background: #FCBA13;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 150px;
    height: 40px;
}
button.btn.ord-part {
    width: 120px;
    margin: 0 20px;
}
button.btn.my-plan {
    width: 110px;
}
.hp-conatiner{margin-top: 30px;}
.hp-conatiner-card {
    margin-bottom: 40px;
}
.hp-content-base {
    min-height: 616px;
    height: 616px;
    overflow-y: scroll;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #fff;
	background-color: #525458;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #525458;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #fff;
}
span.tab-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hm-pg-tab {
    display: flex;
    margin-bottom: 20px;
}
ul.nav-tabs.homepage-tab.nav {
    margin-left: auto;
    border-bottom: 0!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #171717!important;
    border-color: #dee2e6 #dee2e6 #fff;
    width: 207px;
    text-align: center;
    padding: 13px 0px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF!important;
}
ul.nav-tabs.homepage-tab.nav .nav-link {
    color: #747474;
    background: #171717!important;
    border-color: #dee2e6 #dee2e6 #fff;
    width: 207px;
    text-align: center;
    padding: 13px 0px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
 }
//End homepage